<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-menu></app-menu>
<main>
    <div class="table-title">
        <h2>Cliente </h2>
        <a href="#"
         class="btn btn-sucess"data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa fa-plus" aria-hidden="true"></i>
            New
        </a>
    </div>

    <table class="tabela">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Data de nascimento</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Senha</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody class="linhas">
          <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Data de nascimento</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Senha</th>
            <th>
              <button type="submit" class="btn-editar"><i class="fa fa-pencil" aria-hidden="true"></i></button>
              <button type="submit" class="btn-excluir"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </th>
          </tr>

        </tbody>
        <tbody class="linhas">
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Data de nascimento</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Senha</th>
        <th>
          <button type="submit" class="btn-editar"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          <button type="submit" class="btn-excluir"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </th>
              </tr>

      </tbody>
    </table>

<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Novo Cliente</h5>
      </div>
     
        <div class="modal-body">
          <input type="text" name="txtNome" id="" class="DescCat" placeholder="Nome:">
          <input type="text" name="CPF" id="cpf" class="DescCat" placeholder="CPF:" mask="000.000.000-00">
          <input type="date" name="datanascimento" id="" class="DescCat" placeholder="Data de nascimento:"> 
          <input type="tel" name="telefone" id="" class="DescCat " placeholder="Telefone:">
          <input type="email" name="email" id="" class="DescCat" placeholder="Email:">
          <input type="password" name="senha" id="" class="DescCat" placeholder="Senha:">
        </div>
    
      <div class="modal-footer">
        <button type="button" class="fechar btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="salvar btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>
</main>